


    <div class="contact-header main-color">
        <div class="container">
            <h4 class="text-right"> من نحن</h4>
        </div>
    </div>
    <!-- Start About-us-->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="all-content wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="400">

                        <div class="first-about-img">
                            <div class="about-img">
                                <img class="img-responsive" src="~/website/image/img/meet.jpg" alt="img" />
                            </div>
                        </div>

                        <div class="about-content">
                            <div class="first-prag">
                                <p>تتلخص خدمات مكتب عمرو الطالوني فى الخدمات التالية: قسم المحاسبة, تحليل وتتطوير نظام المعلومات المحاسبية, تصميم نظم التكاليف المحاسبية, قسم المراجعة, فحص وتقييم نظام المراجعة الداخلية, مراجعة القوائك المالية, قسم الضرائب, الفحص الضريبى, إعداد كافة أنواع الإقرارات الضريبية, حل المشكلات الضريبية, قسم الخدمات القانونية والإجاءات المؤسسية, قسم الموارد البشرية.</p>
                            </div>

                            <div class="second-content">
                                <p><span class="example1" style="text-decoration: underline; color: #000000;"><strong><strong>الرؤية:</strong></strong></span></p>
                                <p style="padding-right: 30px;"><span style="color: #808080;">أن نكون من المؤسسات الرائدة فى مجال المحاسبة و المراجعة و الضرائب و الاستشارات.</span></p>
                                <p>&nbsp;</p>
                                <p><span style="text-decoration: underline; color: #000000;"><strong>الرسالة:</strong></span></p>
                                <p style="padding-right: 30px;"><span style="color: #808080;">تقديم خدمات متكاملة و متطورة و سريعة و بتكلفة مناسبة فى المحاسبة و المراجعة و الضرائب و الاستشارات، من خلال فريق عمل مؤهل و نظم عمل متطورة و وفقا للمعايير المهنية و الأخلاقية. مما يمكن من تعظيم الربح و استخدام الأموال بكفاءة</span></p>
                                <p style="padding-right: 30px;">&nbsp;</p>
                                <p><span style="text-decoration: underline; color: #000000;"><strong>الأهداف:</strong></span></p>
                                <ul style="list-style-type: circle;">
                                    <li><span style="color: #808080;">تقديم خدمات متميزة تمثل قيمة مضافة لتعظيم مردودات العملاء.</span></li>
                                    <li><span style="color: #808080;">ارتكاز خدماتنا التي تقدم للعملاء على المنهجية العلمية و المهنية و التعليم المستمر لتضفي المصداقية و الجودة.</span></li>
                                    <li><span style="color: #808080;">الاستمرارية و الاستدامة فى تقديم خدماتنا المبنية علي التطوير و مواكبة المتغيرات فى مناخ بيئة الاعمال و تقييم المخاطر المحيطة بها لتلبية متطلبات العملاء بشكل مستمر و مستدام.</span></li>
                                </ul>
                                <p><span style="color: #808080;">&nbsp;</span></p>
                                <p><span style="text-decoration: underline; color: #000000;"><strong>القيم الجوهرية:</strong></span></p>
                                <ul style="list-style-type: circle;">
                                    <li><span style="color: #808080;">العميل محمور اهتمامنا حيث (نعمل من أجل تحقيق احتياجاتة و متطلباتة و تطلعاتة و السعي الدائم لتعظيم ربحة و المحافظة علي امواله).</span></li>
                                    <li><span style="color: #808080;">التميز من خلال (التأهيل المهني و العلمي المستمر لمواردنا البشرية و تحديث نظم و اجراءات العمل فى كافة مجالات عمل المجموعة).</span></li>
                                    <li><span style="color: #808080;">العمل بروح الفريق حيث (نؤسس مناخ العمل المبني علي التفاعل الايجابي بين جميع العاملين و الاحترام المتبادل بين المستويات الادارية المختلفة).</span></li>
                                    <li><span style="color: #808080;">الأمانة و تتحقق من خلال (الالتزام بالمسئوليات و الواجبات الوظيفية المنوطة بالعاملين انطلاقا من اهمية قيمة الامانة).</span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--End Row-->
        </div><!--End Container-->
    </div>
    <!--End about-us-->




