



    <!--Start My Services-->
    <div class="my-services">
        <div class="container">
            <h3 class="text-center">خدماتنا</h3>



            <div class="content-service">
                <div class="libray-service main-color">
                    <h4>اقسام المكتب</h4>
                </div>

                <div class="selection">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            اختر القسم
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-value="department-2" href="#">قسم مراجعة الحسابات </a>
                            <a class="dropdown-item" data-value="department-3" href="#">قسم الضرائب </a>
                            <a class="dropdown-item" data-value="department-4" href="#">قسم الاستشارات </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End Container-->
    </div>
    <!--End My Services-->
    <!--Start Our Services-->
    <div class="our-services-img" id="department-2">
        <div class="our-services" style="padding-top:185px;">
            <h3 class="text-center categ-title-00"> قسم مراجعة الحسابات </h3>
            <div class="container">
                <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
                    <div class="col-sm-6">
                        <div class="first-about-img">
                            <div class="about-img">
                                <img class="img-responsive" src="admin_assets/service/1541677439blog3.png" alt="img" />
                            </div>
                        </div>
                    </div><!--End Col-->
                    <div class="col-sm-6">

                        <div class="content-services" style="background-color: #f3f3f3; bottom:50px;">
                            <div style="position: relative;">
                                <div class="number" style="position:absolute;top:-37px;z-index:0;right:-46px;">
                                    <span>1</span>
                                </div>
                                <h3 class="all-color" style="background: #f3f3f3;position:  relative;z-index:  9;padding:  17px;">خدمات التأكد</h3>
                            </div>

                            <p>
                                <ul>
                                    <li>
                                        <span style="text-decoration: underline;"><span style="color: #000000; text-decoration: underline;"><strong>خدمات عمليات التأكد:</strong></span></span>
                                        <p class="first"><span style="color: #808080;">قدم المكتب مهام عمليات المراجعة و الفحص المحدود للقوائم المالية و الدورية و ذلك وفقا للمتطلبات القانونية و التنظيمية علي ان تلتزم بمعايير المراجعة المصرية و الدولية التزام تام محاطة بسياج من اطار رقابة الجودة و الميثاق المصري العام لاداب و سلوكيات مزاولي مهنة المحاسبة و المراجعة. و تعد هذه القوائم فى اطار معايير المحاسبة المصريية و خدمات عمليات التأكد هو اضفاء الثقة لمستخدمي البيانات المالية.</span></p>
                                    </li>
                                </ul>
                            <p style="padding-right: 30px;">&nbsp;</p>
                            <ul>
                                <li>
                                    <span style="text-decoration: underline;"><span style="color: #000000; text-decoration: underline;"><strong>خدمات مهام التأكد الاخرى:</strong></span></span>
                                    <ul>
                                        <li><span style="color: #808080;">القيام بأعمال المراجعة ذات الاغراض الخاصة.</span></li>
                                        <li><span style="color: #808080;">مهام التأكد بخلاف مراجعة او فحص معلومات مالية تاريخية.</span></li>
                                        <li><span style="color: #808080;">اختبار المعلومات التاريخية.</span></li>
                                        <li><span style="color: #808080;">مهام تنفيذ اجراءات متفق عليها متعلقة بمعلومات مالية.</span></li>
                                    </ul>
                                </li>
                            </ul> </p>
                        </div>
                    </div><!--End Col-->
                </div><!--End Row-->
            </div><!--End Container-->
        </div>
    </div>
    <!--End Our Services-->
    <!--Start Second Our Services-->
    <div class="second-out-services main-color" id="department-3">
        <div class="container">
            <h3 class=" categ-title-00 categ-title-02"> قسم الضرائب </h3>

            <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
                <div class="col-sm-6">
                    <div class="content-services">
                        <div style="position: relative;">
                            <div class="number second-number" style="position:absolute;top:-37px;z-index:0;right:-46px;">
                                <span>2</span>
                            </div>
                            <h3 style="background: #312782;position:  relative;z-index:  9;padding:  17px;color:#FFF;">خدمات استشارات ضريبية و تخطيط ضريبي</h3>
                        </div>
                        <ul>
                            <li>
                                <span style="color: #ffffff;"><strong>يقدم كافة الخدمات الضريبية المتمثلة فى الضرائب المتنوعة و خاصة ضريبة القيمة المضافة و الدخل و المرتبات و الدمغة فيما يلي:</strong></span>
                                <ul>
                                    <li><span style="color: #999999;"><strong>ا</strong>عداد و تقديم الاقرارات الضريبة الالكترونية.</span></li>
                                    <li><span style="color: #999999;">المساعدة فى تجهيز الفحوصات الضريبية.</span></li>
                                    <li><span style="color: #999999;">الطعون علي النماذج الضريبية.</span></li>
                                    <li><span style="color: #999999;">حضور لجان الطعن الداخلية و فض المنازعات.</span></li>
                                </ul>
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                            <li><span style="color: #ffffff;"><strong>استشارات ضريبة لكافة انواع الاوعية الضريبية.</strong></span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                            <li><span style="color: #ffffff;"><strong>تخطيط ضريبي بهدف مساعدة العملاء علي ترشيد عبء الضريبية وفقا لأحكام القانون.</strong></span></li>
                        </ul>
                    </div>
                </div><!--End Col-->
                <div class="col-sm-6">
                    <div class="first-about-img">
                        <div class="about-img">
                            <img class="img-responsive" src="admin_assets/service/1531147743.jpg" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Second Our Services-->
    <!--Start Third Our Services-->
    <div class="our-services" id="department-4">
        <h3 class="text-center categ-title-00"> قسم الاستشارات </h3>

        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
                <div class="col-sm-6">
                    <div class="first-about-img">
                        <div class="about-img">
                            <img class="img-responsive" src="admin_assets/service/1531316075.jpg" alt="img" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="number">
                        <span>3</span>
                    </div>
                    <div class="content-services">
                        <h3>خدمات نظم محاسبية وتطوير النظم المالية </h3>
                        <p>
                            <ul>
                                <li>
                                    <span style="text-decoration: underline;"><strong><span style="color: #000000; text-decoration: underline;">خدمات محاسبية</span></strong></span>
                                    <ul>
                                        <li>امساك الدفاتر.</li>
                                        <li>مهام اعداد القوائم المالية.</li>
                                    </ul>
                                </li>
                            </ul>
                        <p>&nbsp;</p>
                        <ul>
                            <li>
                                <span style="text-decoration: underline;"><strong><span style="color: #000000; text-decoration: underline;">تطوير النظم المالية</span></strong></span>
                                <ul>
                                    <li>اعداد هياكل تنظيمية تتوافق مع معايير الحوكمة و الرقابة الداخلية.</li>
                                    <li>اعداد بطاقات وصف وظيفي تحدد فية السلطات و المسئوليات و اشتراطات شغل الوظيفية</li>
                                    <li>اعداد لوائح تغطي أنشطة الشركات (المالية - المشتريات - المبيعات - المخازن - الموارد البشرية)</li>
                                    <li>
                                        اعداد أدلة اجرائية للأنشطة السابق ذكرها و التى تتضمن ما يلي
                                        <ul>
                                            <li>الدورات المستندية</li>
                                            <li>النماذج المقترحة للمستندات</li>
                                            <li>خريطة تدفق المستندات documents flow charts.</li>
                                            <li>اعداد دليل محاسبي و اقتراح المجموعة الدفترية فى ضوء المتطلبات القانونية</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                            <li>
                                <strong><span style="text-decoration: underline;"><span style="color: #000000; text-decoration: underline;">تصميم نظم تخطيطية و رقابية و تقييم أداء</span></span></strong>
                                <ul>
                                    <li>تصميم نظام التكاليف المعيارية و الفعلية</li>
                                    <li>تصميم نظام محاسبة المسئولية</li>
                                    <li>تصميم نظم الموازنات التخطيطية و اعداد الخطط الاستراتيجية</li>
                                </ul>
                            </li>
                        </ul> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Third Our Services-->
    <!--Start Second Our Services-->
    <div class="second-out-services main-color" id="department-4">
        <div class="container">
            <h3 class=" categ-title-00 categ-title-02"> قسم الاستشارات </h3>

            <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
                <div class="col-sm-6">
                    <div class="content-services">
                        <div style="position: relative;">
                            <div class="number second-number" style="position:absolute;top:-37px;z-index:0;right:-46px;">
                                <span>4</span>
                            </div>
                            <h3 style="background: #312782;position:  relative;z-index:  9;padding:  17px;color:#FFF;">خدمات فى مجال الأستثمار</h3>
                        </div>
                        <ul>
                            <li><strong>دراسات الجدوى الاقتصادية.</strong></li>
                            <li><strong>دراسات الفحص النافي للجهالة.</strong></li>
                            <li><strong>دراسات التحليل المالى و استخدام مؤشرات الاداء الرئيسية KPI.</strong></li>
                            <li><strong>تأسيس و تسجيل الشركات و استخراج كافة انواع الرخص اللازمة لمزاولة النشاط.</strong></li>
                        </ul>
                    </div>
                </div><!--End Col-->
                <div class="col-sm-6">
                    <div class="first-about-img">
                        <div class="about-img">
                            <img class="img-responsive" src="admin_assets/service/1541602370.png" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Second Our Services-->
    <!--Start Third Our Services-->
    <div class="our-services" id="department-4">
        <h3 class="text-center categ-title-00"> قسم الاستشارات </h3>

        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
                <div class="col-sm-6">
                    <div class="first-about-img">
                        <div class="about-img">
                            <img class="img-responsive" src="admin_assets/service/1541602813.png" alt="img" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="number">
                        <span>5</span>
                    </div>
                    <div class="content-services">
                        <h3>تصميم نظم الرقابة الداخلية و الحوكمة و المسئولية الاجتماعية </h3>
                        <p>
                            <ul>
                                <li>
                                    <span style="text-decoration: underline; color: #000000;"><strong>نظم الرقابة الداخلية</strong></span>
                                    <ul>
                                        <li>تصميم هيكل أنظمة الرقابة الداخلية للشركات الجديدة فى ضوء المعايير الدولية.</li>
                                        <li>تقييم فاعلية هيكل الرقابة الداخلية للشركات القائمة لتحديد أوجة الضعف و القوة لمساعدة مجالس ادارة الشركات فى الوفاء بمتطلبات الحوكمة و الهيئات الرقابية.</li>
                                        <li>تقدم خدمات المراجعة الداخلية كأحد ركائز هيكل الرقابة الداخلية وفقا لمعايير المراجعة الداخلية الدولية.</li>
                                        <li>تحديد و تقييم المخاطر.</li>
                                    </ul>
                                </li>
                            </ul>
                        <p>&nbsp;</p>
                        <ul>
                            <li><span style="text-decoration: underline; color: #000000;"><strong>تقديم خدمات الحوكمة و المسئولية الاجتماعية</strong></span></li>
                        </ul> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Third Our Services-->
    <!--Start Second Our Services-->
    <div class="second-out-services main-color" id="department-4">
        <div class="container">
            <h3 class=" categ-title-00 categ-title-02"> قسم الاستشارات </h3>

            <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
                <div class="col-sm-6">
                    <div class="content-services">
                        <div style="position: relative;">
                            <div class="number second-number" style="position:absolute;top:-37px;z-index:0;right:-46px;">
                                <span>6</span>
                            </div>
                            <h3 style="background: #312782;position:  relative;z-index:  9;padding:  17px;color:#FFF;">استشارات تنمية الموارد البشرية</h3>
                        </div>
                        <ul>
                            <li><span style="color: #ffffff;"><strong>المساعدة فى اختيار و ترشيح و تعيين الافراد وفقا لمتطلبات العملاء.</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>خدمات اعداد ملفات خدمة العاملين و الاجازات و لجنة شئون العاملين و التعامل مع مكاتب العمل المختصة.</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>تقييم اداء الافراد.</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>اعداد هياكل تنظيمية و بطاقات وصف.</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>اعداد جداول للأجور وفقا لمستويات السوق.</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>اعداد لوائح الموارد البشرية.</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>اعداد ميثاق اخلاقي (Code of conduct)</strong></span></li>
                            <li><span style="color: #ffffff;"><strong>اعداد ادلة اجرائية للتوظيف و خطط للقوى العاملة.</strong></span></li>
                            <li>
                                <span style="color: #ffffff;"><strong>اعداد استحقاقات الاجور و التأمينات الاجتماعية و رعاية اجتماعية وفقا لما يلي</strong></span>
                                <ul>
                                    <li>
                                        <span style="text-decoration: underline; color: #993366;">الأجور و التسويات الضريبية</span>
                                        <ul>
                                            <li><span style="color: #ffffff;"><strong>اعداد و مراجعة الاجور</strong></span></li>
                                            <li><span style="color: #ffffff;"><strong>احتساب ضريبة كسب العمل</strong></span></li>
                                            <li><span style="color: #ffffff;"><strong>اعداد التسويات بملحقاتها</strong></span></li>
                                            <li><span style="color: #ffffff;"><strong>مراجعة التسويات</strong></span></li>
                                            <li><span style="color: #ffffff;"><strong>تسديد الضريبة المستقطعة شهريا نيابة عن العملاء</strong></span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span style="text-decoration: underline; color: #993366;">التأمينات</span>
                                        <ul>
                                            <li><span style="color: #ffffff;"><strong>متابعة التعامل فى حركة المتغيرات</strong></span></li>
                                            <li><span style="color: #ffffff;">ضوابط أجر الاشتراك</span></li>
                                            <li><span style="color: #ffffff;">المتابعة الشهرية من مكاتبات و مطالبات المتعلقة بالأمينات</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span style="text-decoration: underline; color: #993366;">رعاية اجتماعية</span><br />
                                        <ul>
                                            <li><span style="color: #ffffff;">متابعة اجراءات التأمين الصحي أو أى نظم تأمين صحي اخرى</span></li>
                                            <li><span style="color: #ffffff;">اعداد نظام صندوق الزمالة و لائحتة</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!--End Col-->
                <div class="col-sm-6">
                    <div class="first-about-img">
                        <div class="about-img">
                            <img class="img-responsive" src="admin_assets/service/1541603062.png" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Second Our Services-->
    <!--Start Fixed Support Program-->
    <div class="program" data-toggle="tooltip" data-placement="right" title="مساعدة">
        <a href="help.html">
            <img class="img-responsive" src="website/image/img/support.png" />
        </a>
    </div>
    <!--End Fixed Support Program-->



   