@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AmrTaloniWebsite.Models.HomePageModel
<!-- Start Slider -->
<div class="slider">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="content-slider">
                    <h1 class="first-head">الخدمات المحاسبية و مراجعة الحسابات</h1>
                    <h4 class="second-head">محاسبون قانونيون لمختلف المجالات</h4>
                    <p class="first-prag">يقدم المكتب مهام ادارة الاعمال الحسابية و اعداد الموازنة و تقارير المتابعة كذلك مهام عمليات المراجعة و الفحص المحدود للقوائم المالية و الدورية</p>
                    <a class="slider-more main-color" href="about.html">المزيد عن مكتب عمرو الطالوني للمحاسبة</a>
                </div>
                <div class="overlay"></div>
                <img class="d-block img-fluid" src="~/admin_assets/slider/1541675337accounting-alone-analysis-938963.jpg" alt="slide" />
            </div><!--End carousel-item -->
            <div class="carousel-item ">
                <div class="content-slider">
                    <h1 class="first-head">استشارات تنمية الموارد البشرية</h1>
                    <h4 class="second-head">محاسبون قانونيون لمختلف المجالات</h4>
                    <p class="first-prag">القيم والأسس التى عليه اسلوب العمل بمكتب عمرو الطالوني للمحاسبة حيث ان العميل هو محور إهتمامنا الأول والأخير,بعض النقاط التى يقوم بتطبيقها أثناء العمل وتأدية المهام المختلفة.</p>
                    <a class="slider-more main-color" href="about.html">  المزيد عن مكتب عمرو الطالوني للمحاسبة </a>
                </div>
                <div class="overlay"></div>
                <img class="d-block img-fluid" src="admin_assets/slider/1541676433.jpg" alt="slide" />
            </div><!--End carousel-item -->
            <div class="carousel-item ">
                <div class="content-slider">
                    <h1 class="first-head">خدمات استشارية ضريبية</h1>
                    <h4 class="second-head">محاسبون قانونيون لمختلف المجالات</h4>
                    <p class="first-prag">يقدم المكتب مهام الخدمات الضريبية المتمثلة فى الضرائب المتنوعة و خاصة ضريبة القيمة المضافة و الدخل و المرتبات و الدمغة</p>
                    <a class="slider-more main-color" href="./about.html">المزيد عن مكتب عمرو الطالوني للمحاسبة</a>
                </div>
                <div class="overlay"></div>
                <img class="d-block img-fluid" src="~/admin_assets/slider/1541677149.jpg" alt="slide" />
            </div><!--End carousel-item -->
        </div><!--End carousel-inner -->

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

            <div style="width:20%;margin:auto">
                <img style="width: 100%;" src="~/admin_assets/department/images.png" alt="image">
            </div>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

            <div style="width:20%;margin:auto">
                <img style="width: 100%;" src="~/admin_assets/department/download.png" alt="image">
            </div>

            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Section Features -->
<section class="features text-center">
    <div class="container">
        <div class="row wow slideInRight" data-wow-duration="1.5s" data-wow-offset="200">
            <div class="col-lg-4 col-md-6">
                <div class="feat hvr-grow  private-color">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <div class="features-img">
                        <img src="~/admin_assets/advantage/1541596755png.png" alt="icon" />
                    </div>
                    <h4>التميز</h4>

                    <p>التأهيل المهني و العلمي المستمر لمواردنا البشرية و تحديث نظم و اجراءات العمل فى كافة مجالات عمل المجموعة</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feat hvr-grow  private-color">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <div class="features-img">
                        <img src="~/admin_assets/advantage/1541596820png.png" alt="icon" />
                    </div>
                    <h4>الأمانة</h4>

                    <p>الالتزام بالمسئوليات و الواجبات الوظيفية المنوطة بالعاملين انطلاقا من اهمية قيمة الامانة</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feat hvr-grow  private-color">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <div class="features-img">
                        <img src="~/admin_assets/advantage/1541596892png.png" alt="icon" />
                    </div>
                    <h4>العمل بروح الفريق</h4>

                    <p>نؤسس مناخ العمل المبني علي التفاعل الايجابي بين جميع العاملين و الاحترام المتبادل بين المستويات الادارية المختلفة</p>
                </div>
            </div>

        </div><!--End Row-->
    </div><!--End Container-->
</section><!--End Features-->
<!-- End Section Features -->
<!-- Start About Company-->
<div class="about-company">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="200">
            <div class="col-sm-5">
                <div class="first-about-img">
                    <div class="about-img">
                        <img class="img-responsive" src="~/admin_assets/about/1541680854beverage-blank-coffee-217661 (1).jpg" alt="img" />
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="about-content">
                    <h3 class="all-color"> مكتب عمرو الطالوني للمحاسبة</h3>
                    <p>تتلخص خدمات مكتب عمرو الطالوني للمحاسبة فى الخدمات التالية: قسم المحاسبة, تحليل وتتطوير نظام المعلومات المحاسبية, تصميم نظم التكاليف المحاسبية, قسم المراجعة, فحص وتقييم نظام المراجعة الداخلية, مراجعة القوائك المالية, قسم الضرائب, الفحص الضريبى, إعداد كافة أنواع الإقرارات الضريبية, حل المشكلات الضريبية, قسم الخدمات القانونية والإجاءات المؤسسية, قسم الموارد البشرية.</p>

                    <a class="more-about hvr-shutter-out-horizontal" href="about.html">عن الشركة</a>
                </div>

            </div><!--End Col-->
        </div><!--End Row-->
    </div><!-- End Container-->
</div><!--End About Company-->
<!-- End About Company-->
<!--First One-->
<!--Start Accounting Section-->
<div class="accounting-section">
    <div class="container-fluid">

        <div class="row 1">
            <div class="col-md-3 col-sm-6 col-xs-3 text-center all-part main-color">
                <a href="./service#department-2" style="text-decoration: none;">
                    <div class="first-account">
                        <div style="width:20%;margin:auto">
                            <img style="width: 100%;" class="img-responsive" src="~/admin_assets/department/1531143070icon.vector_285_14-01-512.png" alt="image" />
                        </div>
                        <h3>قسم مراجعة الحسابات</h3>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-3 text-center">
                <div class="second-account">
                    <img class="img-responsive" src="~/admin_assets/department/1541679777image.blank-charts-computer-669619 (1).jpg" alt="Image" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-6 text-center">
                <div class="account-desc">
                    <img class="img-responsive" src="~/admin_assets/department/1531129445overlay.jpg" alt="Image" style="height:100%; width:100%" />
                    <div class="overlay">
                        <div class="cont">
                            <h3>فحص وتقييم نظام المراجعة الداخلية</h3>
                            <p>ادى التطور العلمى والنمو المتزايد فى مجالات النشاط الإقتصادى إلى كبر حجم المشروعات وتشب أعمال ووظائفها وصعوبة إدارتها وتعدد مشاكلها, وقد ساير ذلك تطور فى مفهوم وأهداف وأساليب المراجعة الداخلية للتأكد من فاعلية الرقابة الداخلية وكلما كبر حجم المشروع ازدادت الحاجة.</p>
                        </div>
                    </div><!--End Overlay-->
                </div><!--End Account Desc-->
            </div>
        </div>
        <div class="row 2">

            <div class="col-md-6 text-center">
                <div class="account-desc">
                    <img class="img-responsive" src="~/admin_assets/department/1541677650overlay.accounting-analytics-balance-209224.jpg" alt="Image" style="height:100%; width:100%" />
                    <div class="overlay">
                        <div class="cont">
                            <h3>الاستشارات و المراجعة الضريبية و الفحص الضريبي</h3>
                            <p>تقديم الاستشارات الضريبية فى مجال الضرائب العامة و فى مجال اعداد خطط و استراتيجيات الضرائب و فى مجال تطبيق قوانين و لوائح و تعليمات مصلحة الضرائب</p>
                        </div>
                    </div><!--End Overlay-->
                </div><!--End Account Desc-->
            </div>

            <div class="col-md-3 text-center all-part" style="background-color: #fff">
                <a href="/service#department-3" style="text-decoration: none;">
                    <div class="first-account">
                        <div style="width:20%;margin:auto">
                            <img style="width: 100%;" src="~/admin_assets/department/1541677551icon.icone_paiement-300x225.png" alt="image" />
                        </div>
                        <h3 class="all-color">قسم الضرائب</h3>
                    </div>
                </a>
            </div>

            <div class="col-md-3 text-center">
                <div class="second-account">
                    <img class="img-responsive" src="~/admin_assets/department/1531143150image.jpg" alt="image" />
                </div>


            </div>



        </div>
        <div class="row 3">

            <div class="col-md-3 col-sm-6 text-center">
                <div class="second-account">
                    <img class="img-resposive" src="~/admin_assets/department/1531143198image.jpg" alt="image" />
                </div>
            </div>

            <div class="col-md-6 col-sm-6 text-center">
                <div class="account-desc">
                    <img class="img-responsive" src="~/admin_assets/department/1531143198overlay.jpg" alt="Image" style="height:100%; width:100%" />
                    <div class="overlay">
                        <div class="cont">
                            <h3>تحليل وتطوير نظام المعلومات المحاسبية</h3>
                            <p>هو قسم يتضمن العديد من الاقسام و الخدمات الاخرى مثل استشارات تنمية الموارد البشرية و خدمات نظم محاسبية و تطوير نظم مالية و خدمات فى مجال الاستثمار و تصميم نظم الرقابة الداخلية و الحوكمة و المسئولية الاجتماعية</p>
                        </div>
                    </div><!--End Overlay-->
                </div><!--End Account Desc-->
            </div>

            <div class="col-md-3 col-sm-12 text-center all-part" style="background-color:#c70f22; color:#fff">
                <a href="http://www.com.eg/service#department-4" style="text-decoration: none;">
                    <div class="first-account">
                        <div style="width:20%;margin:auto">
                            <img style="width: 100%;" src="~/admin_assets/department/1531143198icon.png" alt="image" />
                        </div>
                        <h3>قسم الاستشارات</h3>
                    </div>
                </a>
            </div>

        </div>



    </div>
</div>
<!--End Accounting Section-->
<!--Start My Service -->
<div class="services text-center block">
    <div class="overlay">
        <div class="container">
            <div class="row wow fadeInUp animated animated" data-wow-duration="2s" data-wow-offset="200">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="content-awesome">
                        <h2>
                            <div class="statistic-img">
                                <img src="~/admin_assets/statistics/1541664428hot_hospital_departments_292419.png" alt="Icon" />
                            </div>
                            <span class="counter all-color">3</span>
                        </h2>
                        <h4>الأقسام</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="content-awesome">
                        <h2>
                            <div class="statistic-img">
                                <img src="~/admin_assets/statistics/1531219094clock-icon.png" alt="Icon" />
                            </div>
                            <span class="counter all-color">12</span>
                        </h2>
                        <h4>سنين الخبرة</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="content-awesome">
                        <h2>
                            <div class="statistic-img">
                                <img src="~/admin_assets/statistics/1541664549Financial-icon.png" alt="Icon" />
                            </div>
                            <span class="counter all-color">6</span>
                        </h2>
                        <h4>الخدمات</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="content-awesome">
                        <h2>
                            <div class="statistic-img">
                                <img src="~/admin_assets/statistics/1531219111smile-icon.png" alt="Icon" />
                            </div>
                            <span class="counter all-color">87</span>
                        </h2>
                        <h4>العملاء</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End My Service -->
<!--Start Section Videos-->
<div class="featuress">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6">
                <div class="feat1">
                    <img style="width: 100%; height:100%;" class="img-responsive" src="~/admin_assets/service/1541677439blog3.png">

                    <div class="content">
                        <h5 class="text-uppercase">خدمات التأكد</h5>

                        <div class="hiden">
                            <p>يقدم المكتب مهام عمليات المراجعة و الفحص المحدود للقوائم المالية و الدورية و ذلك وفقا للمتطلبات القانونية و التنظيمية علي ان تلتزم بمعايير المراجعة المصرية و الدولية التزام تام محاطة بسياج من اطار رقابة الجودة و الميثاق المصري العام لاداب و سلوكيات مزاولي مهنة المحاسبة و المراجعة.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feat1">
                    <img style="width: 100%; height:100%;" class="img-responsive" src="~/admin_assets/service/1531147743.jpg">

                    <div class="content">
                        <h5 class="text-uppercase">خدمات استشارات ضريبية و تخطيط ضريبي</h5>

                        <div class="hiden">
                            <p>يقدم كافة الخدمات الضريبية المتمثلة فى الضرائب المتنوعة و خاصة ضريبة القيمة المضافة و الدخل و المرتبات و الدمغة.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feat1">
                    <img style="width: 100%; height:100%;" class="img-responsive" src="~/admin_assets/service/1531316075.jpg">

                    <div class="content">
                        <h5 class="text-uppercase">خدمات نظم محاسبية وتطوير النظم المالية</h5>

                        <div class="hiden">
                            <p>خدمة تتضمن خدمات محاسبية كامساك الدفاتر و مهام اعداد القوائم المالية، و خدمات تطوير النظم المالية كاعداد هياكل تنظيمية تتوافق مع معايير الحوكمة و الرقابة الداخلية و اعداد بطاقات وصف وظيفي تحدد فية السلطات و المسئوليات و اشتراطات شغل الوظيفية، و خدمات تصميم نظم تخطيطية و رقابية و تقييم أداء كتصميم نظام التكاليف المعيارية و الفعلية.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feat1">
                    <img style="width: 100%; height:100%;" class="img-responsive" src="~/admin_assets/service/1541603062.png">

                    <div class="content">
                        <h5 class="text-uppercase">استشارات تنمية الموارد البشرية</h5>

                        <div class="hiden">
                            <p>تهدف الي استكمال خطوات التطوير المؤسسي التي تقوم بها الشركة و ذلك لضمان تقديم خدماتها للمستفدين سواء كانوا المساهمين الحاليين للشركة أو المساهمين المستقبلين</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div><!--End Row-->

    </div><!--End Container-->

</div><!--End Featuress-->
<div class="features-button">
    <a class="btn btn-primary hvr-shutter-out-horizontal" href="http://www.com.eg/service">المزيد</a>
</div>
<!--End Section Videos-->
<!--Start Our Clients -->
<section class="our-clients">
    <div class="container">
        <h3> عملاؤنا </h3>
        <div class="demo" style="direction: ltr;">
            <div class="item">
                <ul id="clients-slider" class="content-slider">
                    @if (Model.lstItems.Count() != 0)
                    {
                        @foreach (var ITEM in Model.lstItems)
                        {


                            <li>
                                <a href="@ITEM.Notes" target="_blank">
                                    <div class="clien-item">
                                        <div class="client-logo">
                                            <img class="img-responsive" src="@string.Format("/Uploads/{0}",ITEM.CompanyImageName)" alt="Logo" />
                                        </div>
                                        <h4 class="text-center"> @ITEM.CompanyDescription  </h4>
                                    </div>
                                </a>
                            </li>



                        }

                    }





                    @*<li>
                        <a href="http://thesupplementshopeg.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552295422logo.png" alt="Logo" />
                                </div>
                                <h4 class="text-center"> صابلمنت شوب للمكملات الغذائية  </h4>
                            </div>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="http://elnazer-marble.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1541666976.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> شركة الناظر للرخام والجرانيت  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.winner-eg.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552295576Winner.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> شركة وينر تكنولوجي &quot; ذ.م.م &quot;  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://web.imagemarble.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1541667278.bmp" alt="Logo" />
                                </div>
                                <h4 class="text-center"> Image for Marble &amp; Granite  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="www.safarni.com" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552291640.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> سفرني  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552295381.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> نورجيت ايجيبت للإستيراد  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552295733.png" alt="Logo" />
                                </div>
                                <h4 class="text-center"> otex technology  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552295946.png" alt="Logo" />
                                </div>
                                <h4 class="text-center"> CLS Learning solutions  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296017.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> الشنب لتجارة الحديد والاستثمار العقاري  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/155229607920190311085423529_0007.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> الشنب لتجارة والاستثمار العقاريل  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296124.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> المحمدية لتجارة وتوزيع الادوية  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296243.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> المصرية الاماراتية التجارية  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296288.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> Sport For All  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296333.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> Eama group  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://darna-eg.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296413.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> دارنــــا للإستثمار العقارى والمقاولات  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296454.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> المحمدية لتجارة مواد البناء وحديد التسليح  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296846.png" alt="Logo" />
                                </div>
                                <h4 class="text-center"> أكنان للتطوير العقاري  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.elrowadcollege.net/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552296977.png" alt="Logo" />
                                </div>
                                <h4 class="text-center"> ​ELROWAD COLLEGE  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.manchester-international-school.com" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552297082.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> Manchester International School  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1552297609.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> أنظمة الشحن المتطورة  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.address-misr.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1654599141.webp" alt="Logo" />
                                </div>
                                <h4 class="text-center"> address misr  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1654599385.webp" alt="Logo" />
                                </div>
                                <h4 class="text-center"> ديوان الكفاءات  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/muhasabatwamurajaeatmalia" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1654600047.jpg" alt="Logo" />
                                </div>
                                <h4 class="text-center"> Elite Real Estate Consultancy  </h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.thecookingschooleg.com/" target="_blank">
                            <div class="clien-item">
                                <div class="client-logo">
                                    <img class="img-responsive" src="~/admin_assets/client/1654601617.png" alt="Logo" />
                                </div>
                                <h4 class="text-center"> The Cooking School  </h4>
                            </div>
                        </a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Our Clients-->
