


    <!--Start News -->
    <div class="my-news">
        <div class="container">
            <h3 class="text-center all-color">الأخبار</h3>

            <div class="row">
            </div><!-- End Row-->

            <div class="clearfix"></div>

            <!--Start Pagination-->
            <div class="pagen">

            </div>
            <!--End Pagination-->

        </div><!-- End Container-->
    </div>
    <!--End News-->





