
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="ahrefs-site-verification" content="">
    <meta name="google-site-verification" content="" />
    <meta name="description" content="مكتب محاسبة عمرو الطالونى هو من اكبر مكاتب محاسبين قانونيين بالقاهرة ، لدينا محاسبون قانونيون من أفضل المحاسبين المصريين ومكاتب المحاسبة في مصر.">
    <meta name="keywords" content="محاسب قانوني,مكاتب محاسبة,مكتب محاسبة,المحاسبين المصريين,مكتب محاسب قانونى,اكبر مكاتب المحاسبة فى مصر,مكاتب محاسبين قانونيين بالقاهرة,مكاتب المحاسبة فى مصر,اشهر مكاتب المحاسبة فى مصر,محاسب قانوني معتمد,شركات المحاسبة فى مصر,مكاتب المحاسبة فى القاهرة,شهادة دخل من محاسب قانونى,محاسبون قانونيون,محاسب مالى محترف,محاسب قانونى وخبير ضرائب,مكتب محاسب,اكبر مكتب محاسبة فى مصر,مكتب,محاسبة قانونية,افضل مكاتب المحاسبة فى مصر,مكتب محاسب قانوني القاهرة,مدقق حسابات قانوني,محاسب معتمد,مكاتب محاسبة فى مدينة نصر,خدمات محاسبية,محاسب قانوني مصر">
    <meta name="title" content="مكتب محاسبة عمرو الطالونى| محاسبون قانونيون وخبراء ضرائب| اكبر مكاتب المحاسبة فى مصر">
    <link rel="shortcut icon" href="image/img/logo.png">
    <title>مكتب محاسبة عمرو الطالونى| محاسبون قانونيون وخبراء ضرائب| اكبر مكاتب المحاسبة فى مصر</title>

    <!--Bx Slider Css File-->
    <link rel="stylesheet" href="~/css/jquery.bxslider.css">
    <!--Font-Awesome-->
    <link rel="stylesheet" href="~/css/website/fontawesome.min.css">
        <link rel="stylesheet" href="~/css/website/fontawesome.min.css">
    <link rel="stylesheet" href="~/website/font-awesome/css/font-awesome.min.css">
   
    <!--BootStrap Stylesheet Css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--Normalize Stylesheet Css -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <!--FileCss Stylesheet Css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!--MediaQuery Stylesheet Css -->
    <link rel="stylesheet" href="~/css/media.css">
    <!--Defaul-Theme Stylesheet Css -->
    <link rel="stylesheet" href="~/css/default-theme.css">
    <!--Hover Stylesheet Css -->
    <link rel="stylesheet" href="~/css/hover.css">
    <!--Animate Stylesheet Css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!--Light Slider Stylesheet-->
    <link rel="stylesheet" href="~/css/lightslider.css">
    <!--BootStrap-rtl Stylesheet Css -->
    <link rel="stylesheet" href="~/css/bootstrap-rtl.css">
    <!--Google Web Font -->
    <link href="~/css/css.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/family=Droid">
    <link rel="stylesheet" href="~/css/family=Raleway">
    <link rel="stylesheet" href="~/css/family=Open">
    <!--ProgressBar Stylesheet Css -->
</head>


<body class="wow fadeIn" data-wow-duration="2s" data-wow-offset="200">

    <!-- Start Upper Bar -->
    <div class="upper-bar">
        <div class="container">
            <div class="row">

                <div class="info col-sm text-center text-sm-right">
                    <img src="~/website/image/img/date.png" /> <span>السبت - الخميس 8 ص : 4 م</span>
                    <img src="~/website/image/img/phone-call.png" alt="image" /> <span dir="ltr">+2 01000139055</span>
                </div>

                <div class="info col-sm text-center text-sm-left">
                    <img src="~/website/image/img/envelope.png" /><span>amr.taloony@gmail.com</span>
                    <span class="">
                        <a href="https://www.facebook.com/muhasabatwamurajaeatmalia" target="_blank"><img style="width: 20px;" src="/admin_assets/department/51956.png" alt="image"></i></a>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <!-- End Upper Bar -->
    <!-- Start Second Upper-->
    <div class="second-upper-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div  class="logo">
                        <img class="img-responsive" src="~/website/image/img/logo.png" alt="Logo" />
                    </div>
                </div>
                <div class="col-sm-1" style="visibility: hidden"></div>
                <div class="col-sm-2">
                    <p style="font-weight: bolder; text-align:center"></p>
                    <p style="text-align:center"></p>
                </div>
                <div class="col-sm-2" style="visibility: hidden"></div>

                <div class="col-sm-3">
                    <div  class="upper-button text-center">
                        <a asp-controller="Help" asp-action="Help"> <button class="btn btn-primary main-color hvr-shutter-out-horizontal"><img class="img-responsive" src="~/website/image/img/support.png" /> اطلب المساعدة</button></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- End Second Upper-->
    <!-- Start Navbar-->
    <nav class="navbar navbar-expand-md navbar-light">

        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#main-nav"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div a class="collapse navbar-collapse" id="main-nav">

            <ul class="navbar-nav  text-uppercase ">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link" data-value="feat">الرئيسية</a>
                </li>

                <li class="nav-item ">
                    <a asp-controller="OurServices" asp-action="OurServices" class="nav-link" data-value="test">خدماتنا<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a asp-controller="News" asp-action="News" class="nav-link" data-value="work">الأخبار</a>
                </li>

                <li class="nav-item">
                    <a asp-controller="WhoWeAre" asp-action="WhoWeAre" class="nav-link" data-value="zort">من نحن</a>
                </li>

                <li class="nav-item">
                    <a asp-controller="ContactUs" asp-action="ContactUs" class="nav-link" data-value="ser">تواصل معنا</a>
                </li>

            </ul>

        </div>
    </nav>
    <!--End Navbar-->






    @RenderBody()






    <!--Start Contact Us-->
    <div class="contact-us">
        <div class="container">
            <h3>تواصل معنا</h3>
            <form asp-controller="Home" asp-action="Index" role="form" method="post"  accept-charset="UTF-8">
                <input name="_token" type="hidden" value="CSVTKOI7Z7rA5Nh26R44zfjV2ORuXN5YUhSUloct">
                <div class="row wow fadeInUp " data-wow-duration="1.5s" data-wow-offset="200">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" name="name" placeholder="ادخل الاسم كامل" required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-lg" name="email" placeholder="ادخل البريد الإلكترونى" required autocomplete="off">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control input-lg" name="content" placeholder="ادخل محتوى الرسالة" required></textarea>
                        </div>

                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="ارسال" />
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <!--End Contact Us-->
    <!--Start Fixed Support Program-->
    <div class="program" data-toggle="tooltip" data-placement="right" title="مساعدة">
        <a asp-controller="Help" asp-action="Help">
            <img class="img-responsive" src="~/website/image/img/support.png" />
        </a>
    </div>
    <!--End Fixed Support Program-->
    <!--Start Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="first-footer-part">
                        <div class="logo">
                            <img class="img-responsive" src="~/website/image/img/footer-logo.png" alt="Logo" />
                        </div>

                        <i class="fa fa-map-marker"></i> <p style="display:inline" dir="rtl">منشية جمال عبد الناصر - شارع عمر بن عبد العزيز - برج الدهبيه - اعلى فروت الحسيني</p>

                        <p></p>

                        <i class="fa fa-phone"></i> <span class="location-span" dir="ltr">+2 01000139055  <span> </span></span>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="second-footer-part">
                        <h3>تصفح الموقع</h3>
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <a asp-controller="Home" asp-action="Index">
                                    <li>الرئيسية</li></a>
                                    <a asp-controller="OurServices" asp-action="OurServices">
                                    <li>خدماتنا</li></a>
                                    <a asp-controller="News" asp-action="News">
                                    <li>الاخبار</li></a>
                                </ul>
                            </div>

                            <div class="col">
                                <ul class="list-unstyled">
                                    <a asp-controller="Home" asp-action="Help">
                                    <li>من نحن</li></a>
                                    <a asp-controller="ContactUs" asp-action="ContactUs">
                                    <li>تواصل معنا</li></a>
                                    <a asp-controller="Help" asp-action="Help">
                                    <li>اطلب المساعده</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="third-footer-part">
                        <h3>الخدمة البريدية</h3>
                        <div class="footer-email">
                            <h5>تواصل معنا ليصلك كل جديد</h5>
                            <form method="POST" action="http://www.com.eg" accept-charset="UTF-8">
                                <input name="_token" type="hidden" value="CSV">
                                <input class="form-control" type="email" name="email" placeholder="ادخل البريد الإلكترونى" />
                                <button class="btn btn-primary main-color"><i class="fa fa-search"></i> </button>
                            </form>
                            <ul class="list-unstyled social-footer">
                                <li><a href="https://www.facebook.com/muhasabatwamurajaeatmalia" target="_blank"><i class="fa fa-facebook"></i></a> </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--End Footer-->
    <!-- Start Copy Right-->
    <div class="copy-right" style="direction: ltr">
        <div class="container">
            <p class="text-center">2022 &#64; <a href="https://www.facebook.com/4zsoftware" class="4z-software" target="_blank" style="color:red; text-decoration:none">4z-software</a> جميع الحقوق محفوظة لدى </p>
        </div>
    </div>
    <!-- End Copy Right-->
    <!-- Start Scroll To Top -->
    <div id="scroll-top" class="main-color">
        <img style="width: 20px;" src="/admin_assets/department/download (3).png" alt="image">
    </div>
    <!-- End Scroll To Top -->

    <div class="tel">
        <a href="tel:+2 01000139055"> <img style="width: 30%;" src="~/admin_assets/department/phonee.png" alt="image"></i></a>
    </div>

    <!-- Start Social Fixed Links-->
    <!-- End Social Fixed Links-->
    <!--[if it IE 9]-->
    <script src="~/website/js/html5shiv.min.js"></script>
    <script src="~/website/js/respond.min.js"></script>
    <!--jQuery Script-->
    <script src="~/website/js/jquery-3.2.1.min.js"></script>
    <!--Popper Script-->
    <script src="~/website/js/popper.min.js"></script>
    <!--BootStap Script-->
    <script src="~/website/js/bootstrap.min.js"></script>
    <!--jQuery bxslider Script-->
    <script src="~/website/js/jquery.bxslider.min.js"></script>
    <!--WOW jS Script-->
    <script src="~/website/js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <!--jQuery NiceScroll Script-->
    <script src="~/website/js/jquery.nicescroll.min.js"></script>
    <!--jQuery FitText And Vids Script-->
    <script src="~/website/js/jquery.fittext.js"></script>
    <script src="~/website/js/jquery.fitvids.js"></script>
    <!--jQuery CountTo Script-->
    <script src="~/website/js/jquery.countTo.js"></script>
    <!--jQuery Filterizr Script-->
    <script src="~/website/js/jquery.filterizr.min.js"></script>
    <!--jQuery Magnifix PopUp Script-->
    <script src="~/website/js/jquery.magnific-popup.min.js"></script>
    <!--My File jS-->
    <script src="~/website/js/amr.js"></script>
    <!--jQuery CounterUp Script-->
    <script src="~/website/js/jquery.counterup.min.js"></script>
    <!--jQuery WayPoints Script-->
    <script src="~/website/js/jquery.waypoints.min.js"></script>
    <!--jQuery ProgressBar Script-->
    <script src="~/website/js/progressbar-blugin/progressbar/progressbar.js"></script>
    <!--Light Slider -->
    <script src="~/website/js/lightslider.js"></script>

    <script src="~/admin_assets/plugins/custombox/js/custombox.min.js"></script>
    <script src="~/admin_assets/plugins/custombox/js/legacy.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/pages/jquery.form-advanced.init.js"></script>

</body>
</html>